# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
web-build/

# Android
android/build/
android/app/build/
*.keystore
!android/app/debug.keystore

# Local env files
.env*.local

# macOS
.DS_Store
